@charset "ISO-8859-1";
body,html{
    overflow-x: hidden;
    background-color: #FFF4CC !important;
}

.form-box-container{
    width:100%;
    position:relative;
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    height:100%;

}



a>span::before{
    background-color: rgb(249,249,249);
    border-radius: 0px 0px 4px 4px;
    bottom: -6px;
    content: "";
    height: 800px;
    left: 0px;
    opacity: 0;
    position: relative;
    right: 0px;
    transform-origin: left;
    transform: scaleX(0);
    transition:all 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
    visibility: hidden;
    width: auto;
}
a>span:hover, span::before{
    transform: scaleX(1);
    visibility: visible;
    opacity: 1 !important;
}

.form-box{
    width: 700px;
    padding: 40px;
    text-align: center;
}

.form-title{
    font-family:'butler' !important;
    font-size: 25px;
    font-variant: initial;
}

.form-box input[type = "text"],
.form-box input[type = "password"] {
    border: none;
    background: none;
    display: block;
    margin: 10px auto;
    padding: 14px 10px;
    border: 1.5px solid hsla(0, 0%, 50%, 0.63);
    width: 700px;
    outline: none;
    border-radius: 24px;
    transition: 0.25s;
    font-family: "silka medium" !important;

}

label{
    display: block;
    text-align: left;
    font-family: "silka medium";
    font-size: 14px;
    margin-top: 14px;
    margin-bottom: 14px;
    
}

.form-box input[type = "text"]:focus,
.form-box input[type = "password"]:focus{
    width: 700px;
    border-color: #1D1D1B;
}

.form-box button[type = "submit"]{
    border: none;
    padding: 14px 10px;
    background:#F3C30F;
    border-radius: 24px;
    cursor: pointer;
    font-family: "silka medium";
    margin-top: 50px;
    width: 730px;
}

.form-box button:hover{
    background:#F3C929;
    box-shadow: rgb(243 201 41) 0px 0px 5px 0px;
}

.forget{
    text-decoration: underline;
    margin: 15px 0 0 0;
    cursor: pointer;
    font-size: 12px;
}

.ini{
    margin-right: 100px;
}

a{   
    display: inline-block;
    text-decoration: none;
    color: #1D1D1B;
    font-family: "silka medium";
    font-size: 14px;
    margin-bottom: 30px;
}

a:hover{
    text-decoration: underline;
}